body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #EEF3FA;
}

body {
	font-family: Roboto;
	font-size: 16px;
	color: #424242;
}

.wrapper{
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5 {
	margin: 0; 
}

header, nav, footer, section, article, div {
	box-sizing: border-box;
	border: 0px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/*
 *
 * Header
 *
 */

.header {
	width: 100%;
	background-color: #fff;
	min-height: 56px;
	transition: min-height 0.3s;
}

.header_inner {
	max-width: 300px;	
	margin-right: auto;
	margin-left: auto;
	display: flex;
}

.header_logo {
	margin-right: auto;
	margin-left: auto;
	margin-top: 12px;
	margin-bottom: 25px;
}

/*
 *
 * Top Level Navigation
 *
 */

.nav {
	width: 100%;
	color: #fff;
}

.nav_list {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #4D596D;
}

.nav_item {
	box-sizing: border-box;
	display: inline-block;
	height: 55px;
	width: 24%;
	text-align: center;
	line-height: 30px;
	padding: 12px;
	text-transform: uppercase;
}

.nav a {
	text-decoration: none;
	color: #fff;
}

.nav a:hover {
	text-decoration: underline;
}

.header_menu {
		display: none;
	}

/*
 *
 * Content
 *
 */

.content{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.section{
	width: 100%;
	min-height: 150px;
	padding: 10px 0;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.section p{	
	max-width: 480px;
	margin-right: auto;
	margin-left: auto;
}

.section_title{
	width: 100%;
	font-size: 1.2em;
	padding: 10px;
}

.section_title h1{
	font-size: 1.2em;
	margin-left: auto;
	margin-right: auto;
}

.section_description{
	width: 100%;
	padding: 10px;	
	font-size: 1.0em;
}

.section_details{
	margin: 0 10px;
	padding: 10px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.section_details h2{
	font-size: 1.1em;
	width: 100%;
	text-align: center;
	padding: 10px;
}

.section_details img{
	width: 64px;
	margin-left: auto;
	margin-right: auto;
}

.section_details p{
	width: 100%;
	text-align: center;
}

.white{
	background-color: #fff;
}

.green{
	background-color: #009925;
	color: #fff;
}

.yellow{
	background-color: #EEB211;
	color: #fff;
}

.red{
	background-color: #D50F25;
	color: #fff;
}

.blue{
	background-color: #3369E8;
	color: #fff;
}

/*
 *
 * Footer
 *
 */

footer {
	width: 100%;
	margin-bottom: 20px;
	background-color: #4D596D;
	color: #fff;
	padding: 1em;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

footer ul{
	list-style: none;
}

footer li {
	display: inline-block;
	margin: 0 ;
}

.footer_img{
	background: url(../images/footer-line.png) no-repeat;
	background-size: 100%;
	width: 100%;
	height: 3px;
}

.footer_details{
	text-align: left;
	margin: 10px;
	padding: 10px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	font-size: 0.8em;
}

.footer_details img{
	width: 32px;
	height: 32px;
	padding: 5px;
}

.footer_details a{
	padding: 8px;
	color: #fff;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

.footer_details a:visited {
	text-decoration: none;
	color: #fff;
}

.footer_details p{
	width: 100%;
	margin: 0px;
}

.copyright{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.copyright p{
	font-size: 0.6em;
	text-align: center;	
	margin-left: auto;
	margin-right: auto;
}

/*
 *
 * Responsive
 *
 */

@media screen and (max-width: 610px){
	.header{
		position: fixed;
		top: 0px;
		right: 0px;
		width: 100%;
	}
	
	.header_logo {
		height: 59px;
	}
	
	.main{
		margin-top: 96px;
	}
	
	.nav {
		font-size: 1.2em;
		width: 240px;
		position: absolute;
		background-color: #4D596D;
		/* This trasform moves the drawer off canvas. */
		-webkit-transform: translate(-240px, 0);
		transform: translate(-240px, 0);
		/* Optionally, we animate the drawer. */
		transition: transform 0.3s ease;
	}
	
	.nav_list{
		min-height: 610px;
		overflow: hidden;
	}
	
	.nav.open {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
		height: 100%;
	}

	.nav_item {
		line-height: 48px;
		display: list-item;
		width: 100%;
		text-align: left;
		color: #fff;
	}
	
	.header_menu {
		display: inline-block;
		position: absolute;
		left: 0;
		padding: 1em;
	}
	
	.header_menu svg {
		width: 40px;
		padding: 8px;
		fill: #E0E0E0;
	}
	
	.slider article{
		display: none;
	}
	
	.slider{
		background-color: #fff;
		height: 240px;
		background: url('../images/slider-drive.png') no-repeat #fff;
		background-size: auto;
		background-position: right;
	}
	
	.section_details{
		margin: 10px;
	}
	
	.footer {
		margin-bottom: 0px;
	}
	
	.footer_details{
		text-align: center;
	}
	
	.footer_img{
		background: url(../images/footer-line.png) repeat-y;
		background-size: 100%;
		width: 100%;
		height: 5px;
	}
	
	.hidden{
		display: none;
	}
}

@media screen and (min-width: 610px){
	
	.header_logo{
		height: 118px;
	}
	
	.section_details{
		width: 30%;
		width: calc((100% - 60px)/3);
	}
	
	.footer_details{
		width: 30%;
		width: calc((100% - 60px)/3);
	}	
	
	.footer_details img{
		padding: 0px;
	}
}